* {
    box-sizing: border-box;
    /* border: 1px solid #CCCCCC; */
}

.dashboardContainer {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.sidebar {

    width: 30%;

    padding: 1%;
    
}

.ruleLayout {

    width: 70%;
    
}

.sidebar h2 {
    
}


.formFields, .formRecipients, .formRules {
    
}

.formOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.formField, .formRule, .formValue, .formOperator, .formRecipient {
    color: white;
    background-color: #666666;
    border: 2px dashed #999999;
    border-radius: 2px;
    
    line-height: 2rem;
    padding: 0 0.5rem;

    margin: 0.5rem;
    
    min-width: 25%;
}

.formField:hover, .formRule:hover, .formValue:hover, .formOperator:hover, .formRecipient:hover {

    color: #333333;
    background-color: #CCCCCC;
    cursor: move;
}

.formOperator {
    background-color: #999999;
}

.formValue {
    color: black;
    background-color: #EEEEEE;
}

.formRecipient {
    background-color: #333333;
}



.formRules h3 {

    margin: 0.5rem;
    text-align: left;
}

.ruleBox, .dropArea {

    border: 2px solid #CCCCCC;

    min-height: 3rem;
    padding: 0.5rem;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* padding: 0.5rem 0; */
    /* margin: 0.25rem 0; */
    margin-bottom: 0.5rem;
}

.ruleBox:hover {
    background-color: #EEEEEE;
}

.dropArea {
    border: 2px dashed #666666;
    color: #666666;

    max-width: 300px;
}

.choiceYes, .choiceNo {
    display: flex;

}

.yesNoText {
    font-size: 1.5rem;
    font-weight: bold;

    margin: 1rem 0; 
    display: inline-block;
    width: 4rem;
}